* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial;
}

#top_navbar {
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: #000;
}
#nav_links {
    margin-left: 11rem;
}

#nav_links a {
    margin-left: 2rem;
    margin-right: 1rem;
    color: whitesmoke;
    text-decoration: none;
}

.header {
    padding-left: 11rem;
    padding-right: 11rem;
    display: grid;
    grid-auto-rows: repeat(2, 1fr);
    background-color: #c6bfbf;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.header p {
    margin-bottom: 2rem;
}
.header a {
    color: rgb(21, 142, 213);
}

#content {
    padding-left: 9.5rem;
    padding-right: 9.5rem;
    margin: 6px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

#content p {
    margin-inline: 20px;
}

#btm_navbar {
    height: 4rem;
    background-color: #0b4d14;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.left_links {

    margin-left: 9rem;
    color: whitesmoke;
    text-decoration: none;
}

.right_links {
    margin-right: 9rem;
    color: whitesmoke;
    text-decoration: none;
}

#btm_navbar a {
    color: skyblue;
    color: whitesmoke;
    text-decoration: none;
    margin: 1rem;
}